parameters:
  level: 7
  paths:
    - '%rootDir%/../../../src'
    - '%rootDir%/../../../tests'
  inferPrivatePropertyTypeFromConstructor: true
  excludes_analyse:
    - %rootDir%/../../../vendor/*
    - %rootDir%/../../../node_modules/*

includes:
  - phpstan-baseline.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
